<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Events</h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr class="row">
                <th scope="col" *ngFor="let column of columns" class="col-md-{{column.size}}" [ngClass]="{'td-center': column.center}">
                  <div *ngIf="column.isSortable" (click)="sortBy(column.key)">
                    {{column.title}}
                    <svg *ngIf="query.sortBy === column.key && query.isSortAscending" xmlns="http://www.w3.org/2000/svg"
                      width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up" _ngcontent-c4=""
                      aria-hidden="true">
                      <polyline points="18 15 12 9 6 15"></polyline>
                    </svg>
                    <svg *ngIf="query.sortBy === column.key && !query.isSortAscending" xmlns="http://www.w3.org/2000/svg"
                      width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down" _ngcontent-c4=""
                      aria-hidden="true">
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </div>
                  <div *ngIf="!column.isSortable">
                    {{column.title}}
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="row" *ngFor="let e of queryResult.items" [ngClass]="{'table-danger': !e.isActive}">
                <th class="col-md-{{columns[0].size}}" [ngClass]="{'td-center': columns[0].center}" scope="row">{{e.id}}</th>
                <td class="col-md-{{columns[1].size}}" [ngClass]="{'td-center': columns[1].center}">{{e.name}}</td>
                <td class="col-md-{{columns[2].size}}" [ngClass]="{'td-center': columns[2].center}">{{e.eventStarts |
                  date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td class="col-md-{{columns[3].size}}" [ngClass]="{'td-center': columns[3].center}">{{e.eventEnds |
                  date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td class="col-md-{{columns[4].size}}" [ngClass]="{'td-center': columns[4].center}">{{e.competitions.length}}</td>
                <td class="col-md-{{columns[5].size}}" [ngClass]="{'td-center': columns[5].center}"><a [routerLink]="['/panel/events/', e.id]"
                    class="btn btn-primary">View</a></td>
              </tr>
            </tbody>
          </table>
          <app-pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onChangePage($event)"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
