<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Roles</h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr class="row">
                <th scope="col" *ngFor="let col of columns" class="col-md-{{col.size}}" [ngClass]="{'td-center': col.center}">{{col.title}}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="row" *ngFor="let role of roles">
                <th class="col-md-{{columns[0].size}}" [ngClass]="{'td-center': columns[0].center}" scope="row">{{role.id}}</th>
                <td class="col-md-{{columns[1].size}}" [ngClass]="{'td-center': columns[1].center}">{{role.name}}</td>
                <td class="col-md-{{columns[2].size}}" [ngClass]="{'td-center': columns[2].center}">{{role.description}}</td>
                <td class="col-md-{{columns[3].size}}" [ngClass]="{'td-center': columns[3].center}"><a [routerLink]="['/panel/roles/', role.id]"
                    class="btn btn-primary">Edit
                    Desctiprion</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
