<div class="container-fluid" *ngIf="competitionInfo">
  <div class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Competition Info</h5>
        </div>
        <div class="card-body">
          <p>Event: {{competitionInfo.event.name}}</p>
          <p>Competition: {{competitionInfo.competition.name}}</p>
          <p>Participants: {{competitionInfo.usersCount}}/X</p>
          <hr>
          <p>Registration Starts: {{competitionInfo.registrationStarts | date:'dd/MM/yyyy HH:mm:ss'}}</p>
          <p>Registration Ends: {{competitionInfo.registrationEnds | date:'dd/MM/yyyy HH:mm:ss'}}</p>
          <hr>
          <p>Competition Starts: {{competitionInfo.competitionDate | date:'dd/MM/yyyy HH:mm:ss'}}</p>
          <p *ngIf="competitionInfo.timePerGroup">Time per Group: {{competitionInfo.timePerGroup}}</p>
          <hr>
          <div class="btn-group">
            <button class="btn btn-primary" [routerLink]="['/panel/events/', competitionInfo.event.id, 'competitions', competitionInfo.competition.id, 'edit']">Edit</button>
            <button class="btn btn-secondary" [routerLink]="['/panel/events', competitionInfo.event.id]">Back to Event</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Participants List</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="stage">Stage</label>
              <select id="stage" class="form-control" [(ngModel)]="query.stageId" (change)="onStageChange()">
                <option value=""></option>
                <option *ngFor="let stage of stages" value="{{stage.id}}">{{stage.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-6" *ngIf="query.stageId">
              <label for="group">Group</label>
              <select id="group" class="form-control" [(ngModel)]="query.groupId" (change)="onGroupChange()">
                <option value=""></option>
                <option *ngFor="let group of groups[query.stageId]" value="{{group}}">{{group}}</option>
              </select>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr class="row">
                <th scope="col" *ngFor="let column of columns" class="col-md-{{column.size}}" [ngClass]="{coltext: column.center}">
                    <div *ngIf="column.isSortable" (click)="sortBy(column.key)">
                        {{column.title}}
                        <svg *ngIf="query.sortBy === column.key && query.isSortAscending" xmlns="http://www.w3.org/2000/svg"
                          width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up" _ngcontent-c4=""
                          aria-hidden="true">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="query.sortBy === column.key && !query.isSortAscending" xmlns="http://www.w3.org/2000/svg"
                          width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down" _ngcontent-c4=""
                          aria-hidden="true">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                      </div>
                      <div *ngIf="!column.isSortable">
                        {{column.title}}
                      </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="row" *ngFor="let user of queryResult.items">
                <th class="col-md-{{columns[0].size}}" [ngClass]="{coltext: columns[0].center}" scope="row"></th>
                <td class="col-md-{{columns[1].size}}" [ngClass]="{coltext: columns[1].center}">{{user.user.name}}</td>
                <td class="col-md-{{columns[2].size}}" [ngClass]="{coltext: columns[2].center}">{{user.user.surname}}</td>
                <td class="col-md-{{columns[3].size}}" [ngClass]="{coltext: columns[3].center}">test</td>
                <td class="col-md-{{columns[4].size}}" [ngClass]="{coltext: columns[4].center}">
                  <a [routerLink]="['/panel/events/', competitionInfo.event.id, 'competitions', competitionInfo.competition.id, 'users', user.user.id]"
                    class="btn btn-primary">View</a>
                </td>
              </tr>
            </tbody>
          </table>
          <app-pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onChangePage($event)"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
