<h2>Users</h2>
<hr>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" *ngFor="let column of columns">
        <div *ngIf="column.isSortable" (click)="sortBy(column.key)">
          {{column.title}}
          <svg *ngIf="query.sortBy === column.key && query.isSortAscending" xmlns="http://www.w3.org/2000/svg" width="24"
            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="feather feather-chevron-up" _ngcontent-c4="" aria-hidden="true">
            <polyline points="18 15 12 9 6 15"></polyline>
          </svg>
          <svg *ngIf="query.sortBy === column.key && !query.isSortAscending" xmlns="http://www.w3.org/2000/svg" width="24"
            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="feather feather-chevron-down" _ngcontent-c4="" aria-hidden="true">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </div>
        <div *ngIf="!column.isSortable">
          {{column.title}}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of queryResult.items">
      <th scope="row">{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.lastLogin | date:'dd/MM/yyyy HH:mm:ss'}}</td>
      <td><a class="btn btn-primary" [routerLink]="['/users/', user.id]">View</a></td>
    </tr>
  </tbody>
</table>
<hr>
<app-pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onChangePage($event)"></app-pagination>