<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Edit Description</h5>
        </div>
        <div class="card-body">
          {{ user | json }}
          <form #f="ngForm" (ngSubmit)=submit() *ngIf="role">
            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" name="name" type="text" class="form-control" [(ngModel)]="role.name" required #name="ngModel"
                disabled>
              <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Please enter role name.</div>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" id="description" name="description" class="form-control" [(ngModel)]="role.description"
                required #description="ngModel">
              <div class="alert alert-danger" *ngIf="description.touched && !description.valid">Please enter
                description for {{role.name}} role.</div>
            </div>
            <hr>
            <div class="btn-group">
              <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Save</button>
              <a class="btn btn-secondary" [routerLink]="['/panel/roles']">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
