<h2>Edit Description</h2>
<hr>
<p>
    {{ role | json }}
  </p>
<form #f="ngForm" (ngSubmit)=submit() *ngIf="role">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" class="form-control" [(ngModel)]="role.name" required #name="ngModel" disabled>
    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Please enter role name.</div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" class="form-control" [(ngModel)]="role.description" required #description="ngModel">
    <div class="alert alert-danger" *ngIf="description.touched && !description.valid">Please enter description for {{role.name}} role.</div>
  </div>
  <hr>
  
  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Save</button>
  <a class="btn btn-default" [routerLink]="['/roles/', role.id]" >Cancel</a>
</form>