<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{title}}</h5>
        </div>
        <div class="card-body">
          <p>
            {{ event | json }}
          </p>
          <form #f="ngForm" (ngSubmit)=submit()>
            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" name="name" type="text" class="form-control" [(ngModel)]="event.name" required #name="ngModel">
              <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Please enter event name.</div>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea id="description" class="form-control" name="description" rows="5" [(ngModel)]="event.description"
                required #description="ngModel"></textarea>
              <div class="alert alert-danger" *ngIf="description.touched && !description.valid">Please enter
                description for event</div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="eventStartsDate">Event Starts Date</label>
                <input type="date" id="eventStartsDate" name="eventStartsDate" class="form-control" [(ngModel)]="eventStarts[0]"
                  #eventStartsDate="ngModel" required>
                <div class="alert alert-danger" *ngIf="eventStartsDate.touched && !eventStartsDate.valid">Please enter
                  event start date</div>
              </div>
              <div class="form-group col-md-6">
                <label for="eventStartsTime">Time</label>
                <input type="time" id="eventStartsTime" name="eventStartsTime" class="form-control" [(ngModel)]="eventStarts[1]"
                  #eventStartsTime="ngModel" required>
                <div class="alert alert-danger" *ngIf="eventStartsTime.touched && !eventStartsTime.valid">Please enter
                  event start time</div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="eventEndsDate">Event Starts Date</label>
                <input type="date" id="eventEndsDate" name="eventEndsDate" class="form-control" [(ngModel)]="eventEnds[0]"
                  #eventEndsDate="ngModel" required>
                <div class="alert alert-danger" *ngIf="eventEndsDate.touched && !eventEndsDate.valid">Please enter
                  event end date</div>
              </div>
              <div class="form-group col-md-6">
                <label for="eventEndsTime">Time</label>
                <input type="time" id="eventEndsTime" name="eventEndsTime" class="form-control" [(ngModel)]="eventEnds[1]"
                  #eventEndsTime="ngModel" required>
                <div class="alert alert-danger" *ngIf="eventEndsTime.touched && !eventEndsTime.valid">Please enter
                  event end date</div>
              </div>
            </div>
            <div class="form-group">
              <legend class="col-form-label">Is Active?</legend>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="isActive" id="isActive" [value]="true" [(ngModel)]="event.isActive">
                <label class="form-check-label" for="isActive"> Yes </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="isActive" id="isNotActive" [value]="false" [(ngModel)]="event.isActive">
                <label class="form-check-label" for="isNotActive"> No </label>
              </div>
            </div>
            <div class="form-group">
              <label for="competitions">Competitions</label>
              <select id="competitions" class="form-control" name="competitionsId" [(ngModel)]="competitionsId"
                (change)="addCompetition(competitionsId)">
                <option value=""></option>
                <option *ngFor="let c of competitions" value="{{c.id}}">{{c.name}}</option>
              </select>
              <div>
                <ol>
                  <li *ngFor="let c of event.competitions">{{c}} <button class="btn btn-danger" (click)="removeCompetition(c)">X</button></li>
                </ol>
              </div>
            </div>

            <hr>
            <div class="btn-group">
              <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Save</button>
              <a class="btn btn-secondary" [routerLink]="['/panel/events/', event.id]">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
