<h2>Edit User Roles</h2>
<hr>
{{ user | json }}
<form #f="ngForm" (ngSubmit)="submit()" *ngIf="user && roles">
  <p>Name: {{user.name}} {{user.surname}}</p>
  <p>Email: {{user.email}}</p>

  <h4>Roles</h4>
  <div>
    <label for="role{{roles[0].id}}">
      <input type="checkbox" id="role{{roles[0].id}}" (change)="onRoleToggle(roles[0].id, $event)" [checked]="user.roles.includes(roles[0].id)">{{roles[0].name}}
    </label>
  </div>
  <div>
    <label for="role{{roles[1].id}}">
      <input type="checkbox" id="role{{roles[1].id}}" (change)="onRoleToggle(roles[1].id, $event)" [checked]="user.roles.includes(roles[1].id)"
        [disabled]="user.roles.includes(roles[0].id)">{{roles[1].name}}
    </label>
  </div>
  <div>
    <label for="role{{roles[2].id}}">
      <input type="checkbox" id="role{{roles[2].id}}" (change)="onRoleToggle(roles[2].id, $event)" [checked]="user.roles.includes(roles[2].id)"
        [disabled]="user.roles.includes(roles[1].id)">{{roles[2].name}}
    </label>
  </div>

  <div class="btn-group">
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Save</button>
    <button class="btn btn-secondary" [routerLink]="['/panel/roles']">Cancel</button>
  </div>
</form>
