<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Competitions</h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr class="row">
                <th scope="col" *ngFor="let column of columns" class="col-md-{{column.size}}" [ngClass]="{'td-center': column.center}">{{column.title}}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="row" *ngFor="let competition of competitions">
                <th class="col-md-{{columns[0].size}}" [ngClass]="{'td-center': columns[0].center}" scope="row">{{competition.id}}</th>
                <td class="col-md-{{columns[1].size}}" [ngClass]="{'td-center': columns[1].center}">{{competition.name}}</td>
                <td class="col-md-{{columns[2].size}}" [ngClass]="{'td-center': columns[2].center}" *ngIf="competition.groupsRequired">Yes</td>
                <td class="col-md-{{columns[2].size}}" [ngClass]="{'td-center': columns[2].center}" *ngIf="!competition.groupsRequired">No</td>
                <td class="col-md-{{columns[3].size}}" [ngClass]="{'td-center': columns[3].center}">{{competition.groupSize}}</td>
                <td class="col-md-{{columns[4].size}}" [ngClass]="{'td-center': columns[4].center}"><a [routerLink]="['/panel/competitions/', competition.id]"
                    class="btn btn-primary">View</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
